.form {
    margin: 70px auto;
    max-width: 396px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .form__link {
        margin: 0 0 0 6px;
        color: rgba(52, 86, 243, 1);;
        text-decoration: none;
        transition: opacity 0.3s linear;
    }

    .form__header {
        margin: 40px 0;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
    }

    .form__form {
        .form__item {
            margin: 0;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;

            &:nth-child(3) {
                padding-bottom: 42px;
            }
        }
          
        .form__item_hide {
            display: none;
        }
          
        .form__item-text {
            margin: 0 0 9px;
            font-size: 10px;
            font-weight: 400;
            line-height: 12px;
            letter-spacing: 0em;
            text-align: left; 
            color: rgba(160, 160, 160, 1);
        }

    }

    .form__button {
        width: 396px;
        height: 45px;
        margin: 179px 0 17px;
        padding: 13px 0 15px;
        border: none;
        border-radius: 3px;
        font-family: Inter, Arial, Helvetica, sans-serif;;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center; 
        color: white; 
        transition: opacity 0.3s linear;
        cursor: pointer;
        background-color: gray;

        &:hover {
            opacity: 0.6;
        }
    }
        
    .form__button_disabled {
        cursor: default;
        pointer-events: none;
        opacity: 0.3;
        color: black;
        background-color: rgba(217, 217, 217, 1);
    }

    .form__text {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        align-self: center;
        text-align: center;
        color: rgba(160, 160, 160, 1);;
    }

    .form__field {
        font-family: Inter, Arial, Helvetica, sans-serif;;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        width: 396px;
        border-width: 0 0 1px 0;
        border-color: rgba(232, 232, 232, 1);

        &:focus {
            outline: none;
            border-color: rgba(52, 86, 243, 1);;
            background-color: white;
        }

        &:valid {
            background-color: white;
        }
    }
    .form__field_color-error {
        color: rgba(255, 48, 85, 1);
    }
      
    .form__error {
        opacity: 0;
        display: block;
        margin: 10px 0 0;
        color: rgba(255, 48, 85, 1);
        font-family: Inter, Arial, Helvetica, sans-serif;;
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0em;
        text-align: left;  
    }
      
    .form__error-display {
        opacity: 1;
    }    
}
