.card {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color: lightgrey;
    align-items: center;
    justify-content: center;
    padding: 12px 12px;

    .card__image {
        max-width: 100px;
        max-height: 100px;
        cursor: pointer;
    }

    .card__button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: red;
        transition: opacity 0.3s linear;

        &:hover {
            opacity: 0.4;
        }
    }
}
